<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UICTFontTextStyleTitle0</key>
	<dict>
		<key>name</key>
		<string>black</string>
		<key>size</key>
		<integer>18</integer>
	</dict>
	<key>UICTFontTextStyleTitle1</key>
	<dict>
		<key>name</key>
		<string>bold</string>
		<key>size</key>
		<integer>16</integer>
	</dict>
	<key>UICTFontTextStyleTitle2</key>
	<dict>
		<key>name</key>
		<string>heavy</string>
		<key>size</key>
		<integer>14</integer>
	</dict>
	<key>UICTFontTextStyleTitle3</key>
	<dict>
		<key>name</key>
		<string>light</string>
		<key>size</key>
		<integer>13</integer>
	</dict>
	<key>UICTFontTextStyleHeadline</key>
	<dict>
		<key>name</key>
		<string>medium</string>
		<key>size</key>
		<integer>14</integer>
	</dict>
	<key>UICTFontTextStyleSubhead</key>
	<dict>
		<key>name</key>
		<string>regular</string>
		<key>size</key>
		<integer>13</integer>
	</dict>
	<key>UICTFontTextStyleBody</key>
	<dict>
		<key>name</key>
		<string>semibold</string>
		<key>size</key>
		<integer>15</integer>
	</dict>
	<key>UICTFontTextStyleCallout</key>
	<dict>
		<key>name</key>
		<string>thin</string>
		<key>size</key>
		<integer>13</integer>
	</dict>
	<key>UICTFontTextStyleFootnote</key>
	<dict>
		<key>name</key>
		<string>ultrathin</string>
		<key>size</key>
		<integer>11</integer>
	</dict>
	<key>UICTFontTextStyleCaption1</key>
	<dict>
		<key>name</key>
		<string>regular</string>
		<key>size</key>
		<integer>10</integer>
	</dict>
	<key>UICTFontTextStyleCaption2</key>
	<dict>
		<key>name</key>
		<string>regular</string>
		<key>size</key>
		<integer>11</integer>
	</dict>
</dict>
</plist>
